
<div class="section marquee-organization">
  <div class="container marquee-organization-cont">
    <div class="marquee-organization-head">
      <span class="txt-400">Used by Elite Organizations</span>
    </div>
    <div class="marquee-organization-wrapper">
      <div class="marquee-organization-item">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_16.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_17.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_7.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_18.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_19.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_8.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_28.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_4.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_9.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_6.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_11.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_14.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_30.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_13.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_27.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_29.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_31.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_12.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/2-1_from_perfectstridept_1.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_5.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_15.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_10.png?v=1730293268" alt="" class="marquee-organization-image">
      </div>
      <div class="marquee-organization-item">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_16.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_17.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_7.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_18.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_19.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_8.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_28.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_4.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_9.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_6.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_11.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_14.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_30.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_13.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_27.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_29.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_31.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_12.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/2-1_from_perfectstridept_1.png?v=1730293269" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_5.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_15.png?v=1730293268" alt="" class="marquee-organization-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_10.png?v=1730293268" alt="" class="marquee-organization-image">
      </div>
    </div>
  </div>
</div>