<style>
  #currency-selector select {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

</style>

<div class="section-announcement">
  <div class="container-announcement">
    <span>+123-456-789</span>
    <span class="txt-announcement">Limited Time <span style="font-weight: 700">Free Shipping</span> on all US Orders!</span>
    <div id="currency-selector">
      <label for="currency" class="visually-hidden">Choose currency</label>
      <select id="currency" name="currency" onchange="this.form.submit()">
          {% for currency in shop.enabled_currencies %}
              <option value="{{ currency }}" {% if currency == cart.currency %}selected{% endif %}>
                  {{ currency }}
              </option>
          {% endfor %}
      </select>
    </div>
    <span class="txt-announcement mobile">Limited Time <span style="font-weight: 700">Free Shipping</span> on all US Orders!</span>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const currencySelector = document.getElementById("currency");

    currencySelector.addEventListener("change", function() {
        const selectedCurrency = currencySelector.value;
        const url = new URL(window.location.href);

        // Update the currency parameter in the URL without reloading
        url.searchParams.set("currency", selectedCurrency);
        window.location.href = url.toString();
    });
});
</script>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "t:sections.footer.settings.country_selector_show.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "t:sections.footer.settings.language_selector_show.label",
        "default": true
      }
    ]
}
{% endschema %}