<div class="section footer">
  <div class="container footer-cont">
    <div class="footer-top">
      <div class="footer-logo-wrapper"></div>
      <div class="footer-menu-wrapper"></div>
    </div>
    <div class="footer-bottom">
      <span>Copyright © 2024 Backsync</span>
      <span>Privacy Policy</span>
    </div>
  </div>
</div>