<div class="section seg-b-details">
  <div class="container seg-b-details-cont">
    <div class="seg-b-details-head">
      <h2 class="txt-black txt-center">Advanced Spinal Health, Tailored for You</h2>
      <a href="#">
        <button class="btn-primary btn-dark uppercase">SHOP SEG-B®</button>
      </a>
    </div>
    <div class="seg-b-main">
      <img class="seg-b-img" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/seg-b-main.webp?v=1730159892" alt="">
    </div>
    <div class="seg-b-grid">
      <div class="seg-b-grid-item">
        <img class="icon-64" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Mask_group.png?v=1730159545" alt="">
        <div class="flex-vertical flex-gap-16">
          <h3 class="txt-seg-b-grid">
            <span class="txt-blue">Tactile</span> Feedback
          </h3>
          <span class="txt-400">The SEG-B's tactile feedback mechanism lets users feel each segment of their spine as they move, promoting awareness and control over spinal movements.</span>
        </div>
      </div>
      <div class="seg-b-grid-item">
        <img class="icon-64" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Mask_group-1.png?v=1730159544" alt="">
        <div class="flex-vertical flex-gap-16">
          <h3 class="txt-seg-b-grid">
            <span class="txt-blue">Auditory</span> Feedback
          </h3>
          <span class="txt-400">The SEG-B provides real-time auditory feedback through clicking sounds, helping users identify and correct improper spinal segmentation during exercises.</span>
        </div>
      </div>
      <div class="seg-b-grid-item">
        <img class="icon-64" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Mask_group-2.png?v=1730159545" alt="">
        <div class="flex-vertical flex-gap-16">
          <h3 class="txt-seg-b-grid">
            <span class="txt-blue">Visual</span> Feedback
          </h3>
          <span class="txt-400">Visual indicators on the SEG-B allow users to see their spinal alignment and movement patterns, enabling precise adjustments for optimal performance.</span>
        </div>
      </div>
    </div>
  </div>
</div>