<div class="section community">
  <div class="container community-cont">
    <div class="community-head">
      <span class="txt-eyebrow uppercase">#Backsync</span>
      <h2 class="txt-center">Trusted By The Fitness Community</h2>
      <a href="#">
        <button class="btn-primary btn-dark uppercase">SHOP SEG-B®</button>
      </a>
    </div>
  </div>
</div>