<div class="section banner-shop">
  <div class="container banner-shop-cont">
    <div class="banner-shop-content">
      <span class="txt-eyebrow">Shop Now</span>
      <h2 class="">Ready to Take Control of Your Spinal Health?</h2>
      <a href="#">
        <button class="btn-primary">Shop Now</button>
      </a>
    </div>
  </div>
</div>