<div class="section socials">
  <div class="container socials-cont">
    <div class="socials-head">
      <span class="txt-eyebrow">Social</span>
      <h2 class="txt-center">Trusted by Experts, Loved by Users</h2>
      <a href="#">
        <button class="btn-primary btn-dark uppercase">SHOP SEG-B®</button>
      </a>
    </div>
    <div class="socials-main">
      <div class="socials-marquee">
        <div class="socials-marquee-top">
          <div class="socials-marquee-item">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-1_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-2_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-3_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
          </div>
          <div class="socials-marquee-item">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-1_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-2_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-3_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
          </div>
          <div class="socials-marquee-item">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-1_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-2_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-3_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
          </div>
          <div class="socials-marquee-item">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-1_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-2_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-3_copy.webp?v=1730378281" alt="" class="socials-marquee-image">
          </div>
        </div>
        <div class="socials-marquee-bottom">
          <div class="socials-marquee-item">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-4.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-5.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-6.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-7.webp?v=1730378281" alt="" class="socials-marquee-image">
          </div>
          <div class="socials-marquee-item">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-4.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-5.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-6.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-7.webp?v=1730378281" alt="" class="socials-marquee-image">
          </div>
          <div class="socials-marquee-item">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-4.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-5.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-6.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-7.webp?v=1730378281" alt="" class="socials-marquee-image">
          </div>
          <div class="socials-marquee-item">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-4.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-5.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-6.webp?v=1730378281" alt="" class="socials-marquee-image">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image-7.webp?v=1730378281" alt="" class="socials-marquee-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>