<div class="section">
  <div class="container section-block-cont">
    <div class="section-block-wrapper">
      <iframe class="section-block-bg" src="https://www.youtube.com/embed/Mb1LhyHxEBI?enablejsapi=1&amp;autoplay=0" class="js-youtube video-popup__iframe" allow="encrypted-media" allowfullscreen="" title=""></iframe>
      <div class="section-block-content">
        <span class="section-block-title">Dr. Mike, MoveU</span>
        <span class="txt-400">"An amazing product that we’ve been using for a while that helps you learn to segmentally control your spine! When you can articulate segments of the spine, it helps create body control and stabilization. It helps develop awareness between core and spine. It helps you keep the spine mobile. Ultimately you want to maintain a neutral curve to your spine most of the time. This helps you with balance and stability."</span>
      </div>
    </div>
  </div>
</div>