<div class="section partners">
  <div class="container partners-cont">
    <div class="partners-grid">
      <div class="partners-grid-item">
        <span class="partners-grid-txt">
          AO Startups partners with exceptionally talented founders building groundbreaking technology in the following verticals across sport, health and entertainment.
        </span>
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_32.png?v=1730299139" alt="">
      </div>
      <div class="partners-grid-item bg-tosca">
        <span class="partners-grid-txt">
          The SEG-B from Backsync is essential in our Athletic Training Room at Penn State, offering simple, versatile support for spinal assessments, treatments, and rehab.
        </span>
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_29_afcb6cdc-72a0-4126-80d4-aa267bb8e0f2.png?v=1730300776" alt="">
      </div>
    </div>
    <div class="partners-list-wrapper">
      <span>Used by the Best in Sports and Therapy</span>
      <div class="partners-list">
        <img class="partners-list-image" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_27.png?v=1730293268" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_29.png?v=1730293268" alt="" class="partners-list-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Group_53.png?v=1730299042" alt="" class="partners-list-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_28.png?v=1730293269" alt="" class="partners-list-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/2-1_from_perfectstridept_1.png?v=1730293269" alt="" class="partners-list-image">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/image_31.png?v=1730293269" alt="" class="partners-list-image">
      </div>
    </div>
  </div>
</div>