<div class="section mission">
  <div class="container mission-cont">
    <div class="mission-head">
      <span>The Mission</span>
      <h2>Unlock next-gen spinal training with SEG-B, designed for precise spine health.</h2>
    </div>
    <div class="mission-content">
      <div class="mission-content-top">
        <div class="mission-img-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Group_35.webp?v=1730294935" alt="">
        </div>
        <p class="txt-400">Effective, efficient, and simple – SEG-B® exercises enhance your mobility with just 10 minutes of daily training.</p>
      </div>
      <div class="mission-content-bottom">
        <div class="mission-text-wrapper">
          <span class="mission-bottom-txt">Advanced spinal training with SEG-B, for targeted spine health.</span>
          <button class="btn-primary btn-dark uppercase">SHOP SEG-B®</button>
        </div>
        <div class="mission-img-wrapper-bottom">
          <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Rectangle_115.webp?v=1730294935" alt="">
        </div>
      </div>
    </div>
  </div>
</div>