<div class="section socials">
  <div class="container socials-cont">
    <div class="socials-head">
      <span class="txt-eyebrow">Social</span>
      <h2 class="txt-center">Trusted by Experts, Loved by Users</h2>
      <a href="#">
        <button class="btn-primary btn-dark uppercase">SHOP SEG-B®</button>
      </a>
    </div>
    <div class="socials-main"></div>
  </div>
</div>