<div class="section purchase-protection">
  <div class="container purchase-protection-cont">
    <div class="purchase-protection-head">
      <h2>Your Purchase Protection</h2>
      <span>We stand behind our product. Enjoy worry-free protection with a 30-day home trial and free delivery.</span>
    </div>
    <div class="purchase-protection-main">
      <div class="purchase-protection-item">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Frame.png?v=1730333184" alt="" class="icon-48">
        <h3 class="txt-700 fs-32">Worry - free protection</h3>
        <span>All BackSync products come with a warranty to protect your SEG-B®.</span>
      </div>
      <div class="purchase-protection-item">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Frame-1.png?v=1730333184" alt="" class="icon-48">
        <h3 class="txt-700 fs-32">30-day home trial</h3>
        <span>Try it commitment-free. If it's not
          for you, send your SEG-B® and we’ll refund your purchase.</span>
      </div>
      <div class="purchase-protection-item">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Frame-2.png?v=1730333184" alt="" class="icon-48">
        <h3 class="txt-700 fs-32">Free delivery to your home.</h3>
        <span>We'll deliver and install the BackSync Tread to your room of choice and get you ready to train.</span>
      </div>
    </div>
  </div>
</div>