<!-- Swiper -->

<div
style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
class="swiper swiper-show"
>
<div class="swiper-wrapper">
  <div class="swiper-slide">
    <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Rectangle_112.png?v=1730073429" />
  </div>
  <div class="swiper-slide">
    <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
  </div>
  <div class="swiper-slide">
    <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Rectangle_112.png?v=1730073429" />
  </div>
  <div class="swiper-slide">
    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
  </div>
  <div class="swiper-slide">
    <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Rectangle_112.png?v=1730073429" />
  </div>
  <div class="swiper-slide">
    <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
  </div>
  <div class="swiper-slide">
    <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Rectangle_112.png?v=1730073429" />
  </div>
  <div class="swiper-slide">
    <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
  </div>
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>
<div class="thumbnail-wrapper">
<div thumbsSlider="" class="swiper swiper-thumbs">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Rectangle_112.png?v=1730073429" />
    </div>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Rectangle_112.png?v=1730073429" />
    </div>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Rectangle_112.png?v=1730073429" />
    </div>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Rectangle_112.png?v=1730073429" />
    </div>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
    </div>
  </div>
</div>
<div class="pagination-wrapper">
  <span>Showcase</span>
  <div class="swiper-pagination"></div>
</div>
</div>

<script src="home-hero.js"></script>