<div class="section socials">
  <div class="container socials-cont">
    <div class="socials-head">
      <span class="txt-eyebrow">{{ section.settings.section_title }}</span>
      <h2 class="txt-center">{{ section.settings.section_heading }}</h2>
      <a href="products/{{ section.settings.product_link }}">
        <button class="btn-primary btn-dark">{{ section.settings.btn_text }}</button>
      </a>
    </div>
    <div class="socials-main">
      <div class="socials-marquee">
        <div class="socials-marquee-top socials-marquee-loop">
          <div class="socials-marquee-item">
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
          </div>
          <div class="socials-marquee-item">
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
          </div>
          <div class="socials-marquee-item">
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
          </div>
          <div class="socials-marquee-item">
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
          </div>
        </div>
        <div class="socials-marquee-bottom socials-marquee-loop">
          <div class="socials-marquee-item">
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
          </div>
          <div class="socials-marquee-item">
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
          </div>
          <div class="socials-marquee-item">
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
          </div>
          <div class="socials-marquee-item">
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
            <video src="https://cdn.shopify.com/videos/c/o/v/e55b46d7914a4ac4a3d0295dfed793a6.mov" class="socials-marquee-image"> Your browser does not support the video tag.</video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

const marqueeAll = document.querySelectorAll('.socials-marquee-loop');

marqueeAll.forEach((marquee) => {

  const videoAll = marquee.querySelectorAll('video');

  videoAll.forEach((video) => {
    // Show controls on hover
    video.addEventListener('mouseenter', () => {
      video.setAttribute('controls', true);
    });

    // Hide controls when mouse leaves
    video.addEventListener('mouseleave', () => {
      video.removeAttribute('controls');
    });

    // Pause animation on hover
    video.addEventListener('mouseover', () => {
      marquee.style.animationPlayState = 'paused';
    });

    // Resume animation when mouse leaves
    video.addEventListener('mouseout', () => {
      marquee.style.animationPlayState = 'running';
    });
  })
})

</script>


{% schema %}
{
  "name": "Socials Section",
  "settings": [
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "SHOP SEG-B®"  
    },
    {
      "type": "product",
      "id": "product_link",
      "label": "Product Link",
      "info": "Select a Product to Link To"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Social"  
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Trusted by Experts, Loved by Users"  
    }
  ]
}
{% endschema %}