<div class="section home-intro">
  <div class="container home-intro-cont">
    <div class="home-intro-head">
      <span>Introduction</span>
      <h2>Experience the benefits of the SEG-B® for your spinal health.</h2>
    </div>
    <div class="home-intro-content">
      <div class="home-intro-content-left">
        <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/home-intro-left.webp?v=1730124498" alt="">
        <div class="intro-stats">
          <div class="intro-stats-item">
            <div class="intro-stats-num">
              <span class="txt-intro-num">20</span>
              <span class="txt-intro-plus">+</span>
            </div>
            <span>Simple daily movements for a healthy spine</span>
          </div>
          <div class="intro-stats-item">
            <div class="intro-stats-num">
              <span class="txt-intro-num">5K</span>
              <span class="txt-intro-plus">+</span>
            </div>
            <span class="intro-stats-desc-50">Satisfied users and counting.</span>
          </div>
        </div>
      </div>
      <div class="home-intro-content-right">
        <span class="txt-tag">Practical Daily Use</span>
        <div class="flex-vertical flex-gap-8">
          <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/intro-heads.webp?v=1730128174" alt="">
          <span class="txt-intro-right-title">Perfect fit to your body</span>
          <span class="txt-400 fs-20">Experience the benefits of the SEG-B® for your spinal health.</span>
        </div>
      </div>
    </div>
  </div>
</div>