<div class="section marquee-organization">
  <div class="container marquee-organization-cont">
    <div class="marquee-organization-head">
      <span class="txt-400">{{ section.settings.section_title }}</span>
    </div>
    <div class="marquee-organization-wrapper" style="animation: marquee-organization {{ section.settings.animation_speed }}s linear infinite;">
      <div class="marquee-organization-item">
        {% for block in section.blocks %}
          <img src="{{ block.settings.logo_image | image_url: width: 180 }}" alt="" class="marquee-organization-image">
        {% endfor %}
      </div>
      <div class="marquee-organization-item">
        {% for block in section.blocks %}
          <img src="{{ block.settings.logo_image | image_url: width: 180 }}" alt="" class="smarquee-organization-image">
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Marquee Section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Used by Elite Organization"  
    },
    {
      "type": "range",
      "id": "animation_speed",
      "label": "Animation Speed",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 25
    }
  ],
  "blocks": [
     {
       "name": "Logo",
       "type": "logo",
       "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo"
        }
      ]
    }
  ]
}
{% endschema %}