<div class="section product-slider"></div>
  <div class="container product-slider-cont">
    <div class="product-slider-head flex-vertical flex-gap-20">
      <span class="txt-eyebrow">Product</span>
      <h2 class="product-slider-title">Take a Closer Look at the <span class="txt-blue">SEG-B®</span></h2>
    </div>
    <div class="product-slider-main">
      
    </div>
  </div>
</div>