<div class="home-vid">
  <iframe class="home-vid-full" src="https://www.youtube.com/embed/sxWWfK4SV5E?enablejsapi=1&amp;autoplay=1" class="js-youtube video-popup__iframe" allow="encrypted-media" allowfullscreen="" title=""></iframe>
</div>
