<div class="section seg-b-details">
  <div class="container seg-b-details-cont">
    <div class="seg-b-details-head">
      <h2 class="txt-black txt-center">Advanced Spinal Health, Tailored for You</h2>
      <a href="#">
        <button class="btn-primary btn-dark uppercase">SHOP SEG-B®</button>
      </a>
    </div>
    <div class="seg-b-main">
      <img class="seg-b-img" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/seg-b-main.webp?v=1730159892" alt="">
      <div class="seg-b-hover">
        <div class="seg-b-hover-top">
          <div class="seg-b-trigger" data-index="0">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/trigger-a.webp?v=1730421713" alt="" class="seg-b-trigger-img trigger trigger-a">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/trigger-a-active.webp?v=1730421713" alt="" class="seg-b-trigger-img trigger-a active">
          </div>
          <div class="seg-b-trigger" data-index="1">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/trigger-b.webp?v=1730421713" alt="" class="seg-b-trigger-img trigger trigger-b">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/trigger-b-active.webp?v=1730421713" alt="" class="seg-b-trigger-img trigger-b active">
          </div>
          <div class="seg-b-trigger" data-index="2">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/trigger-c.webp?v=1730421713" alt="" class="seg-b-trigger-img trigger trigger-c">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/trigger-c-active.webp?v=1730421713" alt="" class="seg-b-trigger-img trigger-c active">
          </div>
        </div>
        <div class="seg-b-hover-bottom">
          <div class="seg-b-hover-item" data-index="0">
            <div class="seg-b-hover-image"></div>
            <div class="seg-b-hover-content">
              <h3 class="txt-500 fs-24">Feature A</h3>
              <span>Lorem ipsum dolor sit amet consectetur. Faucibus lorem ac a nulla a ipsum phasellus sed dignissim. Lorem ipsum dolor sit amet consectetur.</span>
            </div>
          </div>
          <div class="seg-b-hover-item" data-index="1">
            <div class="seg-b-hover-image"></div>
            <div class="seg-b-hover-content">
              <h3 class="txt-500 fs-24">Feature B</h3>
              <span>Lorem ipsum dolor sit amet consectetur. Faucibus lorem ac a nulla a ipsum phasellus sed dignissim. Lorem ipsum dolor sit amet consectetur. Faucibus lorem ac a nulla a ipsum phasellus sed dignissim.</span>
            </div>
          </div>
          <div class="seg-b-hover-item" data-index="2">
            <div class="seg-b-hover-image"></div>
            <div class="seg-b-hover-content">
              <h3 class="txt-500 fs-24">Feature C</h3>
              <span>Lorem ipsum dolor sit amet consectetur. Faucibus lorem ac a nulla a ipsum phasellus sed dignissim.</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="seg-b-grid">
      <div class="seg-b-grid-item">
        <img class="icon-64" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Mask_group.png?v=1730159545" alt="">
        <div class="flex-vertical flex-gap-16">
          <h3 class="txt-seg-b-grid">
            <span class="txt-blue">Tactile</span> Feedback
          </h3>
          <span class="txt-400">The SEG-B's tactile feedback mechanism lets users feel each segment of their spine as they move, promoting awareness and control over spinal movements.</span>
        </div>
      </div>
      <div class="seg-b-grid-item">
        <img class="icon-64" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Mask_group-1.png?v=1730159544" alt="">
        <div class="flex-vertical flex-gap-16">
          <h3 class="txt-seg-b-grid">
            <span class="txt-blue">Auditory</span> Feedback
          </h3>
          <span class="txt-400">The SEG-B provides real-time auditory feedback through clicking sounds, helping users identify and correct improper spinal segmentation during exercises.</span>
        </div>
      </div>
      <div class="seg-b-grid-item">
        <img class="icon-64" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/Mask_group-2.png?v=1730159545" alt="">
        <div class="flex-vertical flex-gap-16">
          <h3 class="txt-seg-b-grid">
            <span class="txt-blue">Visual</span> Feedback
          </h3>
          <span class="txt-400">Visual indicators on the SEG-B allow users to see their spinal alignment and movement patterns, enabling precise adjustments for optimal performance.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="seg-b-overlay"></div>
</div>

<script>
  const segbTrigger = document.querySelectorAll('.seg-b-trigger');
  const showFeat = document.querySelectorAll('.seg-b-hover-item');
  const segbOverlay = document.querySelector('.seg-b-overlay');

  for(const btn of segbTrigger) {
    btn.addEventListener('mouseover', () => {
      console.log(btn.getAttribute('data-index'))

      for(const feat of showFeat) {
        if(feat.getAttribute('data-index') === btn.getAttribute('data-index')) {
          feat.style.opacity = '1';
          feat.style.transform = 'translateY(0px)';
          segbOverlay.style.opacity = '.2';
          btn.querySelector('.seg-b-trigger-img.trigger').style.opacity = '0';
          btn.querySelector('.seg-b-trigger-img.active').style.opacity = '1';
        }
      }

    })
    btn.addEventListener('mouseout', () => {

      for(const feat of showFeat) {
        feat.style.opacity = '0';
        feat.style.transform = 'translateY(-20px)';
        segbOverlay.style.opacity = '0';
        btn.querySelector('.seg-b-trigger-img.trigger').style.opacity = '1';
        btn.querySelector('.seg-b-trigger-img.active').style.opacity = '0';
      }

    })
  }
</script>