* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}
.section {
  padding: 150px 48px;
  background-color: #141D29;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1320px;
}
.btn-primary {
  padding: 14px 24px;
  border-radius: 1000px;
  background: #fff;
  color: #000000;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.btn-dark {
  background-color: #000000;
  color: #ffffff;
}
.uppercase {
  text-transform: uppercase;
}

.section-announcement {
  width: 100%;
  background-color: #f4f4f4;
  padding: 8px 40px;
}
.container-announcement {
  width: 100%;
  margin: auto;
  max-width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000;
}
.section-navbar {
  width: 100%;
  background-color: transparent;
  padding: 24px 40px;
  position: fixed;
  z-index: 999;
}
.container-navbar {
  width: 100%;
  margin: auto;
  max-width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.menu-wrapper, .nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
.nav-logo-wrapper img {
  width: 140px;
}


/* Text */

h2 {
  font-size: 60px;
}
.txt-400 {
  font-size: 16px;
  font-weight: 400;
}
.txt-700 {
  font-size: 32px;
  font-weight: 700;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-32 {
  font-size: 32px;
}
.txt-tag {
  padding: 8px 24px;
  border: 1px solid #ffffff;
  border-radius: 1000px
}
.txt-blue {
  color: #0FA9C1;
}
.txt-black {
  color: #000000;
}
.txt-white {
  color: #ffffff;
}
.txt-center {
  text-align: center;
}
.txt-eyebrow {
  font-size: 20px;
}


/* Flex Box */

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-gap-8 {
  gap: 8px;
}
.flex-gap-16 {
  gap: 16px;
}
.flex-gap-20 {
  gap: 20px;
}
.items-center {
  align-items: center;
}

/* Icon */

.icon-64 {
  height: 64px;
  width: 64px;
}
.icon-14 {
  height: 14px;
  width: 14px;
}
