@font-face {
  font-family: 'Aeonik';
  src: url('{{ "assets/Aeonik-Bold.ttf" | asset_url }}') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('{{ "assets/ Aeonik-Light.ttf" | asset_url }}') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('{{ "assets/Aeonik-Medium.ttf" | asset_url }}') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('{{ "assets/Aeonik-Regular.ttf" | asset_url }}') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('{{ "assets/Rubik-Medium.ttf" | asset_url }}') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('{{ "assets/Rubik-Regular.ttf" | asset_url }}') format('ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Aeonik', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Aeonik', sans-serif !important;
  font-weight: 500;
}
span, p {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 400;
}
h2 {
  line-height: 120%;
}
h3 {
  line-height: 110%;
}
.section {
  padding: 150px 48px;
  background-color: #141D29;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1320px;
}
.btn-primary {
  padding: 14px 24px;
  border-radius: 1000px;
  background: #fff;
  color: #000000;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn-primary:hover {
  cursor: pointer;
}
.btn-dark {
  background-color: #000000;
  color: #ffffff;
}
.btn-vid-play {
  width: 82px;
  height: 82px;
  background-color: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
  opacity: 1;
  pointer-events: none;
  transition: all 1s ease;
}
.btn-submit {
  padding: 8px 24px;
}
.uppercase {
  text-transform: uppercase;
}

.section-announcement {
  width: 100%;
  background-color: #f4f4f4;
  padding: 8px 40px;
}
.container-announcement {
  width: 100%;
  margin: auto;
  max-width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000;
}
.section-navbar {
  width: 100%;
  background-color: transparent;
  padding: 24px 40px;
  position: fixed;
  z-index: 999;
  transition: all .3s ease;
}
.nav-white {
  background-color: #ffffff;
}
.nav-white a,
.nav-white span {
  color: #000000 !important;
}
.nav-white svg {
  color: #000000 !important;
}
.section-navbar.scrolled {
  background-color: #fff;
  transform: translateY(-40px);
  border-bottom: 1px solid #cecece;
  transition: all .3s ease;
}
.section-navbar.scrolled a {
  color: #000000 !important;
}
.section-navbar svg {
  color: #ffffff;
}
.section-navbar.scrolled svg {
  color: #000000;
}
.container-navbar {
  width: 100%;
  margin: auto;
  max-width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.menu-wrapper, .nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
.nav-logo-wrapper {
  position: relative;
}
.nav-logo-wrapper img {
  width: 140px;
}
.nav-logo-black {
  position: absolute;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: all .5s ease;
}
.section-navbar.scrolled .nav-logo-black {
  opacity: 1;
  transition: all .5s ease;
}
.navbar-cart {
  position: relative;
}
.nav-cart-count {
  position: absolute;
  padding: 5px;
  border-radius: 100%;
  background-color: #EB5959;
  aspect-ratio: 1 / 1;
  width: 100%;
  top: -12px;
  right: -12px;
  font-size: 10px;
  text-align: center;
}
span#nav-cart-count.nav-cart-count {
  color: #ffffff !important;
}


/* Text */

h2 {
  font-size: 60px;
}
.txt-300 {
  font-weight: 300;
}
.txt-400 {
  font-size: 16px;
  font-weight: 400;
}
.txt-500 {
  font-weight: 500;
  line-height: 120%;
}
.txt-700 {
  font-size: 32px;
  font-weight: 700;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-32 {
  font-size: 32px;
}
.txt-tag {
  padding: 8px 24px;
  border: 1px solid #ffffff;
  border-radius: 1000px
}
.txt-blue {
  color: #0FA9C1;
}
.txt-black {
  color: #000000;
}
.txt-white {
  color: #ffffff;
}
.txt-center {
  text-align: center;
}
.txt-eyebrow {
  font-size: 20px;
}


/* Flex Box */

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-gap-8 {
  gap: 8px;
}
.flex-gap-16 {
  gap: 16px;
}
.flex-gap-20 {
  gap: 20px;
}
.items-center {
  align-items: center;
}

/* Icon */

.icon-64 {
  height: 64px;
  width: 64px;
}
.icon-14 {
  height: 14px;
  width: 14px;
}
