.home-slider {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-show {
  height: 100%;
  width: 100%;
  position: absolute;

}
.thumbnail-wrapper {
  position: absolute;
  bottom: 32px;
  left: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 6px 8px;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(24px);
  z-index: 2;
}
.swiper-thumbs {
  height: 64px;
  width: 240px;
  box-sizing: border-box;
}
.swiper-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
  border-radius: 8px;
  overflow: hidden;
}
.pagination-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.swiper-pagination {
  position: relative;
  width: fit-content;
  top: 0;
  bottom: 0;
  font-size: 20px;
}
.swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #fff;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-hero-cont {
  position: relative;
  padding-top: 30vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.hero-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-title span {
  max-width: 366px;
}
.scroll-indicator {
  position: absolute;
  right: 0;
  bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}