.home-slider {
  position: relative;
  height: calc(100vh - 34px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 40px;
}
.swiper-show {
  width: 100%;
  height: 100%;
}
.swiper-home {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-home img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-thumbs {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-home {
  background-size: cover;
  background-position: center;
}
.swiper-show {
  height: 100%;
  width: 100%;
  position: absolute;

}
.thumbnail-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 6px 8px;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(24px);
  z-index: 2;
}
.swiper-thumbs {
  height: 64px;
  width: 210px;
  box-sizing: border-box;
}
.swiper-thumbs .swiper-home {
  width: 25%;
  height: 100%;
  opacity: 1;
  border-radius: 8px;
  overflow: hidden;
}
.pagination-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.swiper-pagination {
  position: relative;
  width: fit-content;
  top: 0;
  bottom: 0;
  font-size: 20px;
}
.swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #fff;
}
.swiper-home img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-hero-cont {
  position: relative;
  padding-top: 15vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
}
.hero-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-title p {
  max-width: 366px;
}
.scroll-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media(max-width: 768px) {
  .thumbnail-wrapper,
  .scroll-indicator {
    position: relative;
  }
  .scroll-indicator {
    margin-top: auto;
    margin-bottom: 0;
  }
  .home-hero-cont,
  .hero-content {
    gap: 64px;
  }
  .home-slider {
    padding: 70px 32px;
  }
  .home-hero-cont {
    padding-top: 80px;
  }
}
@media (max-width: 480px) {
  .home-slider {
    padding: 70px 16px;
  }
  .home-hero-cont {
    padding-top: 0px;
  }
  .home-hero-cont,
  .hero-content {
    gap: 56px;
  }
}


/* Home Intro */

.section.home-intro {
  background-color: #ffffff;
  padding-top: 120px;
  color: #000000;
}
.home-intro-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
}
.home-intro-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  max-width: 762px;
}
.home-intro-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}
.home-intro-content-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.home-intro-content-left img {
  height: 360px;
  width: 100%;
  object-fit: cover;
  border-radius: 32px;
  overflow: hidden;
}
.home-intro-content-right {
  width: 60%;
  padding: 40px;
  height: 661px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background-image: url('https://cdn.shopify.com/s/files/1/0728/2645/4272/files/home-intro-right.webp?v=1730124498');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
  color: #fff;
  overflow: hidden;
}
.home-intro-content-right img {
  width: 122px;

}
.intro-stats {
  display: flex;
  flex-direction: row;
  gap: 36px;
} 
.intro-stats-num {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.intro-stats-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
.txt-intro-num {
  font-size: 70px;
}
.txt-intro-plus {
  font-size: 70px;
  color: #0FA9C1;
}
.intro-stats-desc-50 {
  width: 50%;
}
.txt-intro-right-title {
  font-weight: 500;
  font-size: 40px;
  max-width: 244px;
}

@media(max-width: 768px) {
  .section.home-intro {
    padding-top: 100px;
  }
  .home-intro-content {
    flex-direction: column;
    gap: 48px;
  }
  .home-intro-content-left {
    width: 100%;
  }
  .home-intro-content-right {
    width: 100%;
    padding: 20px 24px;
    height: 492px;
  }
  .txt-intro-num,
  .txt-intro-plus {
    font-size: 50px;
  }
}




/* Home Video Full */

.home-vid {
  width: 100%;
  height: 40vw;
  overflow: hidden;
  position: relative;
}
.home-vid-full {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
}
.vid-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  cursor: pointer;
  transition: opacity 1s ease, display 0s ease 1s;
  z-index: 1;
}
.vid-overlay-gradient {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  object-fit: cover;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(20,29,41);
  background: linear-gradient(0deg, rgba(20,29,41,1) 0%, rgba(20,29,41,0) 100%);
  z-index: 3;
  pointer-events: none;
}

@media(max-width: 768px) {
  .home-vid {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    position: relative;
  }
}


/* SEG-B */

.seg-b-details {
  background-color: #ffffff;
  position: relative;
}
.seg-b-overlay {
  position: absolute;
  background-color: rgba(0,0,0);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: all .5s ease;
}
.seg-b-details-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px; 
}
.seg-b-details-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px; 
  max-width: 671px;
}
.seg-b-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px; 
}
.seg-b-grid-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px; 
  background-color: #F8F8F8;
  border-radius: 32px;
  color: #000000;
  width: calc(33% - 12px);
}
.txt-seg-b-grid {
  font-size: 32px;
  font-weight: 500;
}
.seg-b-main {
  margin-bottom: 5vw;
  position: relative;
}
.seg-b-img {
  max-width: 100%;
}
.seg-b-img.mobile {
  display: none;
}
.seg-b-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.seg-b-hover-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px; 
  margin-bottom: 20px;
  /* opacity: 1; */
}
.seg-b-trigger {
  height: 18vw;
  max-height: 260px;
  width: 100%;
  /* background-color: red; */
  position: relative;
  z-index: 9;
}
.seg-b-trigger-img {
  position: absolute;
  object-fit: contain;
  transition: all .5s ease;
}
.seg-b-trigger-img.trigger-a {
  height: 125px;
  left: 40%;
  top: 3vw;
}
.seg-b-trigger-img.trigger-b {
  height: 93px;
  left: 30%;
  bottom: 0;
}
.seg-b-trigger-img.trigger-c {
  height: 104px;
  left: 15%;
  top: 3vw;
}
.seg-b-trigger-img.active {
  opacity: 0;
}
.seg-b-hover-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px; 
}
.seg-b-hover-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 32px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: all .3s ease;
  pointer-events: none;
  width: calc(33% - 12px);
  height: 100%;
}
.seg-b-hover-image {
  width: 100%;
  height: 218px;
  background-color: #d9d9d9;
  background-size: cover;
}
.seg-b-hover-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background-color: #ffffff;
  color: #000000;
}
@media(max-width: 768px) {
  .seg-b-grid-item {
    flex-shrink: 0;
    min-width: 350px;
  }
  .seg-b-hover-bottom {
    display: none;
  }
  .seg-b-grid {
    overflow: scroll;
    align-self: flex-start;
    max-width: 100vw;
    margin-left: -32px;
    padding: 0px 32px;
  }
  .seg-b-img.desktop {
    display: none;
  }
  .seg-b-img.mobile {
    display: block;
  }
  .seg-b-hover {
    display: none;
  }
}
@media(max-width: 480px) {
  .seg-b-trigger-img.trigger-a {
    height: 17vw;
    left: 40%;
    top: -3vw;
  }
  .seg-b-trigger-img.trigger-b {
    height: 15vw;
    left: -6vw;
    bottom: -6vw;
  }
  .seg-b-trigger-img.trigger-c {
    height: 15vw;
    left: -4vw;
    top: -1vw;
  }
  .seg-b-grid {
    gap: 8px;
    margin-left: -16px;
    margin-top: -32px;
    padding: 0px 16px;
  }
}


/* Product Slider */

.product-slider {
  color: #ffffff;
  overflow: hidden;
}
.product-slider-title {
  max-width: 720px;
  font-style: italic;
  font-weight: 500;
}
.product-slider-main {
  margin-top: 60px;
}
.product-slider-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}



/* Organization Marquee */

.marquee-organization {
  background-color: #0C1118;
  color: #ffffff;
  padding: 40px 0;
  overflow: hidden;
}
.marquee-organization-cont {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.marquee-organization-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.marquee-organization-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 72px;
  padding: 32px 0;
}
.marquee-organization-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 72px;
}
.marquee-organization-image {
  height: 40px;
  object-fit: contain;
  flex-shrink: 0;
}
@keyframes marquee-organization {
  0% {
    transform: translateX(0%);
  } 
  100% {
    transform: translateX(calc(-50% - 36px))
  }
}



/* Community */

.section.community {
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
}
.community-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.community-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  max-width: 563px;
}
.community-marquee {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.community-marquee-wrapper, .community-marquee-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.community-marquee-wrapper {
  align-self: flex-start;
  animation: marquee-community 60s linear infinite;
}
.community-marquee-single {
  width: 428px;
  height: 500px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  color: #fff;
}
.community-marquee-single:nth-child(2n) {
  margin-top: 64px;
}
.community-marquee-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.community-marquee-person {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  z-index: 1;
}
@keyframes marquee-community {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-50% - 10px));
  }
}



/* Section Block */

.section-block-cont {
  max-width: 1144px;
}
.section-block-wrapper {
  width: 100%;
  border-radius: 32px;
  overflow: hidden;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  
}
.section-block-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 1rem;
  z-index: 5;
  padding: 0px 48px;
  pointer-events: none;
}
.section-block-content > * {
  text-align: center;
}
.section-block-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.section-block-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
}
@media(max-width: 1024px) {
  .section-block {
    padding: 100px 48px;
  }
}
@media(max-width: 768px) {
  .section-block {
    padding: 0;
  }
  .section-block-wrapper {
    border-radius: 0;
    height: 420px;
  }
  .section-block-content {
    padding: 32px;
  }
  .section-block-content .section-block-title {
    font-size: 28px;
  }
  .section-block-content .txt-400 {
    font-size: 14px;
  }
}
@media(max-width: 480px) {
  .section-block-content {
    padding: 16px;
    align-items: flex-start
  }
  .section-block-content .section-block-title {
    font-size: 24px;
  }
  .section-block-content .txt-400 {
    font-size: 12px;
    text-align: left;
  }
}


/* Mission */

.section.mission {
  background-color:#ffffff;
  color: #000000;
}
.mission-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 60px;
}
.mission-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1208px;
}
.mission-head h2 {
  max-width: 910px;
}
.mission-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
.mission-content img {
  border-radius: 32px;
  width: 100%;
}
.mission-content-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.mission-content-top p {
  width: 312px;
  flex-shrink: 0;
}
.mission-content-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 48px;
}
.mission-img-wrapper-bottom {
  width: 538px;
  flex-shrink: 0;
}
.mission-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}
.mission-bottom-txt {
  font-family: 'Aeonik', sans-serif !important;
  font-weight: 500;
  font-size: 40px;
}
@media(max-width: 1024px) {
  .mission-content {
    gap: 60px;
  }
  .mission-content-top .txt-400 {
    width: 30%;
    flex-shrink: 1;
  }
  .mission-bottom-txt {
    font-size: 32px;
  }
  .mission-content-bottom {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: flex-start;
  }
  .mission-img-wrapper-bottom {
    width: 100%;
    gap: 40px;
  }
  .mission-text-wrapper {
    gap: 40px;
    max-width: 480px;
  }
}
@media(max-width: 680px) {
  .mission-content-top {
    flex-direction: column;
    gap: 40px;
  }
  .mission-content-top .txt-400 {
    width: 100%;
    max-width: 520px;
  }
  .mission-content img {
    height: 380px;
    object-fit: cover;
  }
}


/* Partners */

.section.partners {
  background-color: #ffffff;
  color: #000000;
}
.partners-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
.partners-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
}
.partners-grid-item {
  padding: 100px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background-color: #0C1118;
  color: #fff;
  text-align: center;
  font-size: 32px;
}
.bg-tosca {
  background-color: #0FA9C1;
}
.partners-grid-item img {
  height: 70px;
  object-fit: contain;
}
.partners-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  text-align: center;
  width: 100%;
}
.partners-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
.partners-list img {
  height: 60px;
  object-fit: contain;
}
@media(max-width: 990px) {
  .partners-grid-txt {
    font-size: 24px;
  }
}
@media(max-width: 840px) {
  .partners-grid {
    flex-direction: column;
  }
  .partners-grid-item {
    padding: 64px 32px;
  }
}
@media(max-width: 480px) {
  .partners-grid-item {
    padding: 40px 24px;
  }
  .partners-list {
    gap: 24px;
  }
}


/* Tutorials */

.tutorials {
  background-color: #ffffff;
  color: #000000;
}
.tutorials-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
.tutorials-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  max-width: 775px;
}
.tutorials-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
.tutorials-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}




/* Purchase Protection */

.purchase-protection {
  background-color: #ffffff;
  color: #000000;
}
.purchase-protection-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 60px;
}
.purchase-protection-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.purchase-protection-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 48px;
}
.purchase-protection-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex: 1
}


/* Banner Shop */

.banner-shop {
  color: #ffffff;
  padding: 78px 40px;
  min-height: 28vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center right;
}
.banner-shop-cont {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-shop-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  max-width: 760px;
}


/* Socials */

.socials {
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
}
.socials-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 60px;
}
.socials-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
}
.socials-marquee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.socials-marquee-top,
.socials-marquee-bottom,
.socials-marquee-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}
.socials-marquee-image {
  width: 430px;
  height: 500px;
  border-radius: 32px;
  overflow: hidden;
}
.socials-marquee-top {
  animation: socials-top 40s linear infinite;
}
.socials-marquee-bottom {
  animation: socials-bottom 40s linear infinite;
}
@keyframes socials-top {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-25% - 16px));
  }
}
@keyframes socials-bottom {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(25% - 16px));
  }
}


/* Footer */

.footer {
  padding: 80px 48px;
  background-color: #0C1118;
  color: #ffffff;
}
.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}
.footer-top {
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}
.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  max-width: 355px;
}
.footer-logo-img {
  height: 32px;
  object-fit: contain;
}
.footer-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  width: 50%;
  max-width: 684px;
}
.footer-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.footer-menu-title {
  color: rgba(255,255,255,0.5);
}
.footer-menu-link a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.footer-menu-link {
  border-bottom: 1px solid transparent;
}
.footer-menu-link:hover {
  border-bottom: 1px solid #ffffff;
}
.footer-menu-link:hover .icon-arrow-footer{
  transform: translate(2px, -2px);
  transition: all .2s ease;
}
.footer-menu-link .icon-arrow-footer{
  transform: translate(0px, 0px);
  transition: all .2s ease;
}
.footer-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  min-width: 100%;
}
.footer-newsletter-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
  width: 100%;
}
.form-input {
  color: #ffffff;
  border-radius: 1000px;
  border: 1px solid #ffffff;
  font-size: 14px;
  padding: 10px 20px;
}
.input-newsletter-email {
  width: 240px;
  flex-shrink: 0;
}