.swiper-product {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.swiper-wrapper {
  align-items: flex-end;
}
.swiper-product-slide {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
.tutorial-wrapper {
  width: 120%;
  height: 600px;
  margin-left: -18%;
  overflow: visible;
}

.swiper-product-slide {
  width: 480px;
  height: 400px;
  transition: all .3s ease;
  opacity: 50%;
}
.swiper-slide-active {
  width: 616px;
  height: 100%;
  transition: all .3s ease;
  opacity: 100%;
}
.swiper-product-video {
  height: 100%;
  width: 100%;
  border-radius: 32px;
  background-color: #d9d9d9;
  overflow: hidden;
}
.swiper-product-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-product-details {
  padding: 32px 24px 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.swiper-slide-active .swiper-product-details {
  display: flex;
}
.product-slider-nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.product-slider-nav > div {
  cursor: pointer;
}

@media(max-width: 1024px) {
  .tutorial-wrapper {
    width: 100%;
    margin-left: 0;
  }
  .swiper-product-slide {
    width: 320px;
  }
  .swiper-slide-active {
    width: 480px;
    margin-right: 24px;
  }
}
@media(max-width: 768px) {
  .swiper-product-next img,
  .swiper-product-prev img {
    width: 50px;
  }
  .product-slider-nav {
    gap: 8px;
  }
  .product-slider-head {
    gap: 32px;
  }
}
@media(max-width: 480px) {
  .product-slider-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .swiper-product-details {
    padding: 32px 16px 0;
  }
}