.product-single {
  background-color: #fff;
  color: #000000;
  padding-bottom: 0px;
  overflow: visible;
}
.product-single-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}
.product-gallery {
  width: 55%;
  position: sticky;
  top: 120px;
}
.product-single-details {
  width: 45%;
}
.product-main-slide img,
.product-thumbs-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-main-slide,
.product-thumbs-slide {
  background-size: cover;
  background-position: center;
  border-radius: 32px;
  overflow: hidden;
}
.product-gallery-main {
  height: 464px;
  width: 100%;
}
.product-gallery-thumbs {
  height: 194px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
.product-gallery-thumbs .product-media-video {
  pointer-events: none;
}
.product-gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.product-gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}


/* Product Media */

.product-media-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-media-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/* Product Single */

.product-single-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 40%;
}
.product-single-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.product-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  margin-top: 16px;
}
.product-details-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  border-bottom: 1px solid #cecece;
}
.product-details-head-item {
  width: 100%;
  padding-bottom: 8px;
  text-align: center;
  width: fit-content;
  font-weight: 500;
  border-bottom: 1px solid #cecece;
  cursor: pointer;
  margin-bottom: -1px;
}
.product-head-active {
  color: #0FA9C1;
  border-bottom: 1px solid #0FA9C1;
}
.product-details-body {
  font-size: 14px;
  line-height: 140%;
}
.product-details-body ul {
  list-style: disc;
}
.product-details-body li {
  margin-left: 16px;
}
.product-single-tutorial {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  background-color: #0FA9C1;
  border-radius: 24px;
  padding: 8px;
  padding-left: 24px;
}
.product-single-tutorial-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  color: #ffffff;
  max-width: 210px;
}
.product-single-tutorial-video {
  height: 132px;
  width: 235px;
  border-radius: 24px;
  /* background-color: whitesmoke; */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt-product-price {
  font-family: 'Aeonik', Sans-serif !important;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
}
.txt-product-price-compare {
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  color: #c2c2c2;
  text-decoration: line-through;
}

.product-action-wrapper {
  width: 100%;
  border: 1px solid #cecece;
  border-radius: 24px;
  padding: 24px;
}
.product-action-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.product-quantity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #cecece;
}
.product-quantity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.product-bottom-wrapper {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}
.product-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.product-btn-wrapper > button {
  width: 100%;
}
.product-warranty-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.product-warranty-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.product-subtotal-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}
.quantity-selector {
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.quantity-selector input {
  background-color: transparent;
  color: #000000;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  padding: 0px;
}
.quantity-selector #increment-btn,
.quantity-selector #decrement-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(max-width: 992px) {
  .product-single-cont {
    flex-direction: column;
  }
  .product-gallery {
    width: 100%;
    position: static;
  }
  .product-single-info {
    width: 100%;
  }
}
@media(max-width: 480px) {
  .product-single-tutorial {
    flex-direction: column;
    padding: 8px;
  }
  .product-single-tutorial > * {
    width: 100%;
    max-width: 100%;
  }
  .product-single-tutorial-title {
    align-items: center;
  }
  .product-single-tutorial-title span {
    text-align: center;
  }
  .product-gallery-main {
    width: 100vw;
    margin-left: -16px;
  }
  .product-thumbs-slide {
    border-radius: 0;
  }
  .product-main-slide {
    border-radius: 20px;
  }
  .product-gallery-thumbs {
    height: 140px;
    width: 100vw;
    margin-left: -16px;
  }
}
